
<h1><%=@user.name %></h1>
<br/>
<% @user ||= current_user %>
<div class="stats">
<a href="<%= following_user_path(@user) %>">
<strong id="following" class="stat">
<%= @user.following.count %>
</strong>
following
</a>
<a href="<%= followers_user_path(@user) %>">
<strong id="followers" class="stat">
<%= @user.followers.count %>
</strong>
followers
</a>
</div>

<%= render 'follow_form' if logged_in? %>

    <%= gravatar_for @user %>
   
    <h3>Email:<%= @user.email %></h3>

<%if session[:user_id]%>

    <% if @user.name == current_user.name%>

        <h1>MY TWEETS :</h1>

    <%else%>

        <h1> TWEETS :</h1>

    <%end%>

<%else %>

    <h1> TWEETS :</h1>

<%end%>

<% if @tweets.count == 0 %>

    <h3>No tweets yet</h3>

<%end%>

<%@tweets.each do |t|%>

    <a href="/tweets/<%=t.id%>">

    <h2><%=t.title%></h2>

</a>

<%end%>
